body {
    background: url("/images/chalkboardBack.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 99%;
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
}

#board {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.start {
    border: 1px dotted white;
    border-radius: 2rem;
    background-color: transparent;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    align-self: center;
}